@import "/src/sass/responsive";

.car-brands {
  height: 40rem;
  margin-bottom: 10rem;



  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 140rem;

    @include only-mobile {
      margin: auto 5rem;
    }
  }

  &__rentals {
    padding-top: 5rem;

    & h2 {
      font-size: 2.4rem;

      @include only-mobile {
        font-size: 1.8rem;
        margin-left: 1rem;
      }
    }

    &--images {
      padding-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 3rem;

      img {
        width: 8rem;
        margin: 1rem auto;
        -webkit-box-shadow: 8px 5px 12px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 8px 5px 12px 3px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__perks {
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
      padding-top: 7rem;
      margin-bottom: 3rem;
    }

    @include only-mobile {
      padding-top: 3rem;
    }

    &--feature {
      display: flex;
      margin-right: 2rem;
      width: 35rem;
      margin-bottom: 1rem;

      &--image {
        img {
          width: 6rem;
          height: 6rem;
          margin-right: 1rem;

          @include only-mobile {
            width: 4rem;
            height: 4rem;
          }
        }
      }

      &--content {
        h5 {
          font-size: 2rem;
          @include only-mobile {
            font-size: 1.6rem;
          }
        }

        p {
          font-size: 1.6rem;

          @include only-mobile {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
