@import "/sass/variables";

.car-details-page {
  overflow: hidden;
  margin: 1rem 2rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100rem;
    column-gap: 4rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: auto;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background-color: $theme-secondary;
      color: $theme-primary;
      border: none;
      border-radius: 2px;
      padding: 1.4rem 2rem;
      font-size: 1.2rem;
      font-weight: bold;
      transition: 0.5s;
      margin-bottom: 3rem;
      cursor: pointer;

      &:hover {
        background-color: $theme-primary;
        color: $font-secondary;
      }
    }
  }
}
