@import '/src/styles//variables';

.pickup-return {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  fieldset {
    border: none;
    margin: 1rem 3rem 3rem;
    font-size: 1.4rem;

    legend {
      padding: 1rem;
      display: flex;
      align-items: center;
      column-gap: 10rem;
      border: 2px solid $font-secondary;
      border-radius: 10px;

      p {
        white-space: nowrap;
      }
    }
  }
}
