.car-card {
  display: flex;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 20rem;
      margin: 4rem;
      @media screen and (max-width: 600px) {
        width: 15rem;
        margin: 3rem;
      }
    }
  }
}

//options
.car-card__options {
  display: flex;
  flex-direction: column;

  &--name {
    font-weight: bold;
    margin-top: 2rem;
    font-size: 2rem;
    @media screen and (max-width: 600px) {
      margin-top: 1.5rem;
      font-size: 1.4rem;
    }

    span {
      font-weight: 400;
    }
  }

  &--menu {
    display: flex;

    &--catalog {
      list-style: none;
      font-size: 1.4rem;
      margin: 3rem 5rem 3rem 0;
      @media screen and (max-width: 600px) {
        margin: 2rem 3rem 2rem 0;
      }
    }
  }
}

.car-card__price {
  display: flex;
  flex: 3 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 2rem;
  align-items: flex-end;

  img {
    width: 10rem;
    margin-bottom: 0.8rem;
  }
  &--price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
  }

  &--free-cancellation {
    color: #0f0028; /* font primary */
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  button {
    background-color: #00d2a8; /* theme secondary */
    color: #0f0028; /* theme primary */
    border: none;
    border-radius: 2px;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 1rem;

    &:hover {
      background-color: #0f0028; /* theme primary */
      color: #00d2a8; /* theme secondary */
    }
  }
}
