@import "/sass/variables";


.deal-pickup-return {
  border: 1px solid $border-primary;
  border-radius: 5px;
  padding: 2rem;
  width: 30rem;
  margin-bottom: 2rem;

  &__time {
    p {
      font-size: 1.2rem;
      margin: 1.4rem 0;

      &:last-of-type {
        font-weight: bold;
      }
    }
  }
}
