@import "/src/sass/responsive";

.car-search-page {
  display: flex;

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100rem;
    column-gap: 4rem;

    @include only-mobile {
      flex-direction: column;
      align-items: center;
      width: auto;
    }
  }
}
