//variables
$bg-white: #f8f8f8;
$bg-gray: #e8e8e8;
$theme-primary: #0f0028;
$theme-secondary: #00d2a8;
$font-primary: #0f0028;
$border-primary: #e7e7e7;

//global styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: #0f0028;
  @media only screen and (max-width: 75em) {
    font-size: 50%;
  }
}

body {
  font-size: inherit;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  font-weight: 400;
  line-height: 1.7;
}

.react-icons {
  vertical-align: -3%;
  padding-right: 0.4rem;
  width: 2rem;
}

.deals-react-icons {
  vertical-align: -3%;
  padding-right: 0.6rem;
  size: 2em;
}
