@import "/src/sass/responsive";

.search-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include only-mobile {
    margin: 0 2rem;
  }

  h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  &__brand-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    width: 70rem;
    margin: 3rem auto;

    @include only-mobile {
      width: 50rem;
      column-gap: 3rem;
    }

    img {
      width: 8rem;
      margin: 2rem;
      box-shadow: 8px 5px 12px 3px rgba(0, 0, 0, 0.3);

      @include only-mobile {
        margin: 1rem;
      }
    }
  }
}
