@import '/src/sass//variables';
@import '/src/sass/responsive';

.hero {
  background-color: $theme-primary;
  color: $font-white;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 140rem;
  }

  &__intro {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    @include only-mobile {
      margin-left: 1rem;
      align-items: center;
    }

    h1 {
      font-size: 2.4rem;

      @include only-mobile {
        font-size: 2rem;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 1.5rem;

      @include only-mobile {
        justify-content: center;
      }

      li {
        margin-right: 1rem;
        font-size: 2rem;
        &:last-child {
          margin-right: 0;
        }

        @include only-mobile {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__search-form {
    margin: 3rem 7rem 6rem 7rem;
    display: flex;

    form {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      column-gap: 0.5rem;
      margin: 4rem;

      @include only-mobile {
        column-gap: 2rem;
        flex-wrap: wrap;
      }

      input {
        height: 3rem;
        border: 3px solid $font-secondary;
        border-radius: 0.5rem;
        background-color: $bg-gray;
        padding: 1.4rem 1.2rem;

        @include only-mobile {
          margin-bottom: 2rem;
        }
      }
    }
    &--input {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    a {
      background-color: $theme-secondary;
      text-decoration: none;
      color: $font-primary;
      border: none;
      border-radius: 2px;
      padding: 0.7rem 3rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
      margin-left: 1rem;

      &:hover {
        background-color: $theme-primary;
        color: $font-secondary;
        outline: 1px solid $font-secondary;
      }

      @include only-mobile {
        margin-bottom: 2rem;
      }
    }
  }
}
